<!-- to which url do we send the form to. we have 2 choices ask or answer. ask will stay on the same page if answer then goes to the page that corresponds to the same page as answer -->
<form action="/answer">
  <!-- params has a key: value. So you want to give the name of the key. params[:question]  -->
  <input type="text" name="user_question">
  <input type="submit" value="Ask!">
</form>

<!-- question  -->




